:root {
  font-family: "Rubik", sans-serif;
  --color-menu: #4a4a4a;
  --background-color: #3cdbc0;
  --color-text: #ffffff;
}
.nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  background-color: var(--color-text);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 13px;
}
.img-contenedor {
  width: 155px;
  padding-bottom: 10px;
}
.img {
  width: 100%;
}
.menu {
  color: var(--color-menu);
  display: flex;
  align-items: center;
  gap: 20px;
}
.main {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 30px;
  color: var(--color-text);
  text-align: center;
  max-width: 200px;
  font-weight: bold;
}
.title::first-line {
  word-spacing: 110vw;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .img-contenedor {
    width: 155px;
    padding-bottom: 0px;
    padding-left: 30px;
  }
  .menu {
    font: size 16px;
    padding-right: 30px;
  }
}
